.main .panel.object.edit.deleted form#form-undelete,
.main .panel.object.edit:not(.deleted) form#form-delete {
  display: initial;
}

.main .panel.link.edit .primary span:last-child,
.main .panel.link.edit .secondary span:first-child,
.main .panel.link.edit form ul + ul,
.main .panel.object.edit form ul + ul,
.main .panel.object.edit.deleted .header .button,
.main .panel.object.edit.deleted form#form-delete,
.main .panel.object.edit:not(.deleted) form#form-undelete {
  display: none;
}

.main .panel.object.edit form#form-delete input[type=submit] {
  color: red;
}
